body {background-color: red;}

    .white-border {
       
       
        border: 2px solid white;
       
    }
    
nav{ float: right;}

header,
main,
aside,
nav,
footer,
.wrapper {
    margin-bottom: 5px;
    padding: 10px;
}

header {
    height: 60px;    
}

.wrapper {
    display: flex;
}

main {
    /* order: 2; */
    width: 75%
}
aside {
    /* order: 1; */
    width: 25%;
}