body{
    background-color: rgb(115, 190, 255);
}
.cinque-oggetti{display: flex;
flex-wrap:wrap ;}


.cinque-oggetti > div {width: 150px;height: 150px; border: 0cap;}

img {
    max-width: 300px;
    max-height: 300px;
    
}

.oggetti div {
    float: left;
    box-sizing: border-box; 
    padding: 5px;
    border: 1px solid #b9b9b9;
    background-color: antiquewhite;
   
}

.oggetti img {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width:360px){
    .oggetti div {width:50%}
}

